@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

@keyframes body-shake {
  0% {
    width: 150px;
  }
  50% {
    width: 159px;
  }
  100% {
    width: 150px;
  }
}

@keyframes head {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}

body {
  background-color: #b4e8cb;
  font-family: "Patrick Hand SC", cursive;
}

.postal {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -80%);
  -webkit-transform: translate(-50%, -80%);
  -moz-transform: translate(-50%, -80%);
  -o-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
}

.pintainho-head {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ffc379;
  position: relative;
  animation: head 6s infinite 0.4s cubic-bezier(0.4, 0.34, 0.16, 0.79);
}

.pintainho-olhoesquerdo {
  width: 16px;
  height: 18px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 32px;
  top: 45px;
}

.pintainho-olhoesquerdo::before {
  content: "";
  width: 6px;
  height: 7px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 2px;
}

.pintainho-olhodireito {
  width: 16px;
  height: 18px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 82px;
  top: 45px;
}

.pintainho-olhodireito::before {
  content: "";
  width: 6px;
  height: 7px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 2px;
}

.pintainho-bico {
  border: 20px solid transparent;
  border-top: 14px solid #fe7a31;
  display: block;
  width: 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 59%;
}

.pintainho-bico::before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 14px solid #ce662e;
  display: block;
  position: absolute;
  left: -20px;
  top: -48px;
}

.pintainho-corpo {
  width: 150px;
  height: 140px;
  background: #ffc379;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  animation: body-shake 2.2s infinite 0.4s cubic-bezier(0.4, 0.34, 0.16, 0.79);
}

.casca-topleft {
  width: 100px;
  height: 140px;
  background: #fffab8;
  border-top-left-radius: 130%;
  border-top-right-radius: 0px;
  position: absolute;
  top: -30px;
  left: -35px;
  transition: all 0.2s ease-out;
  -webkit-transform: all 0.2s ease-out;
  -moz-transform: all 0.2s ease-out;
  -o-transform: all 0.2s ease-out;
  -ms-transform: all 0.2s ease-out;
}

.casca-topright {
  width: 100px;
  height: 140px;
  background: #fffab8;
  border-top-right-radius: 130%;
  position: absolute;
  top: -30px;
  left: 65px;
  transition: all 0.2s ease-out;
  -webkit-transform: all 0.2s ease-out;
  -moz-transform: all 0.2s ease-out;
  -o-transform: all 0.2s ease-out;
  -ms-transform: all 0.2s ease-out;
}

.casca-bottomleft {
  width: 100px;
  height: 140px;
  background: #d8d49f;
  border-bottom-left-radius: 130%;
  position: absolute;
  top: 105px;
  left: -35px;
  transition: all 0.2s ease-out;
  -webkit-transform: all 0.2s ease-out;
  -moz-transform: all 0.2s ease-out;
  -o-transform: all 0.2s ease-out;
  -ms-transform: all 0.2s ease-out;
}

.casca-bottomright {
  width: 100px;
  height: 140px;
  background: #d8d49f;
  border-bottom-right-radius: 130%;
  position: absolute;
  top: 105px;
  left: 65px;
  transition: all 0.2s ease-out;
  -webkit-transform: all 0.2s ease-out;
  -moz-transform: all 0.2s ease-out;
  -o-transform: all 0.2s ease-out;
  -ms-transform: all 0.2s ease-out;
}

.texto {
  color: #ffffffcf;
  position: absolute;
  left: 200px;
  top: 50%;
  font-size: 20px;
  width: 400px;
  transform: translate(16px, -50px);
  text-transform: uppercase;
}

.texto::before {
  content: "clica no ovo";
  opacity: 1;
  visibility: visible;
  font-size: 60px;
  /* position: absolute;
  left: 40px; */
  transition: all 0.2s ease-out;
  -webkit-transform: all 0.2s ease-out;
  -moz-transform: all 0.2s ease-out;
  -o-transform: all 0.2s ease-out;
  -ms-transform: all 0.2s ease-out;
}

.texto::after {
  content: "Páscoa Feliz";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -25px;
  font-size: 60px;
  transition: all 0.2s ease-out;
  -webkit-transform: all 0.2s ease-out;
  -moz-transform: all 0.2s ease-out;
  -o-transform: all 0.2s ease-out;
  -ms-transform: all 0.2s ease-out;
}

.casca--opened {
  background: red;
}

.casca--opened .casca-topleft {
  top: -150px;
  transform: rotate(5deg);
}

.casca--opened .casca-topright {
  top: -150px;
  transform: rotate(-15deg);
}
.casca--opened .casca-bottomleft {
  top: 160px;
}
.casca--opened .casca-bottomright {
  top: 160px;
}

.texto--opened::before {
  opacity: 0;
  visibility: hidden;
  left: -25px;
}

.texto--opened::after {
  opacity: 1;
  visibility: visible;
  left: 0;
}
